:root{
    --CorFundo: rgb(127, 147, 236);
    --CorBotao: rgb(0, 47, 255);
}
*{
    padding: 0;
    margin:0;

}

main{
    height:98vh;
    display:flex;
    flex-direction: column;    align-items: center;
    justify-content:center;
}



.top{
    display: flex;
    width: 100%;
    background-color: var(--CorFundo);

}

#Titulo{
    width:100%;
    text-align: center;
    padding:20px;
}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin:70px;
    width:100%;
}

header p{
    padding:10px;

}

.Mouse{
   max-width: 100%;
   height: 100%;

}

.MouseClick{
    display:flex;
    justify-content: center;
    align-items:center;
}

.Botoes{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    color:white;

}

#BtnEsq{
    margin:10px;
    background-color: var(--CorBotao);
    padding:20px;
    border-radius: 50px;
    border:1px solid black;
}

#BtnMeio{
    margin:10px;
    background-color: var(--CorBotao);
    padding:20px;
    border-radius: 50px;
    border:1px solid black;
}

#BtnDir{
    margin:10px;
    background-color: var(--CorBotao);
    padding:20px;
    border-radius: 50px;
    border:1px solid black;
}


#Reset{
    background-color: var(--CorBotao);
    width:200px;
    height: 80px;
    border-radius: 50px;
    color:white;
    border: 1px solid black;
}


footer{
    background-color: var(--CorFundo);
    width:100%;
    text-align: center;
    padding:40px;
}